@use '../helpers' as *;

.grid {
  --columns: 1;

  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(var(--columns, 1), 1fr);


  &--2 {
    --columns: 2;
    column-gap: rem(80);

    @include mobile {
      --columns: 1;
    }
  }

}