@use '../helpers' as *;

.introduce {

  &__main {
    display: grid;

    @include invisible;

    @include mobile-above {
      grid-template-columns: 1fr auto;
      column-gap: rem(270);
    }

    @include mobile {
      row-gap: rem(40);
    }

    @include tablet {
      column-gap: rem(200);
    }
  }

  &__main.active {
    @include appear
  }

  &__body  {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 15);

    @include mobile {
      align-items: center;
      text-align: center;
    }

    &-title {
      font-weight: 500;
      background: var(--gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-description {
      line-height: rem(24);
      text-align: justify;
      margin-bottom: rem(40);
      color: var(--color-light-300);

      @include mobile {
        max-width: rem(600);
      }
    }

    &-link {
      font-size: fluid(24, 16);
      align-self: start;

      @include mobile {
        align-self: auto;
      }
    }
  }


  &__photo-wrapper {
    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  &__photo-image {
    border-radius: var(--border-radius-3);

    @include laptop {
      width: rem(230);
    }

    @include mobile {
      width: rem(200);
    }
  }
}