@use '../helpers' as *;

.section {
  --global-padding: #{rem(160)};

  padding-top: var(--global-padding);


  &__title {
    font-weight: 500;
    margin-bottom: rem(40);
  }


  @include mobile {
    --global-padding: #{rem(120)};
  }
}