@use 'helpers' as *;

:root {
  --color-main: #111111;
  --color-accent: #6CACE4;


  --color-dark-500: #201F1F;
  --color-dark-700: #1F1E1E;

  --color-light-100: #ffff;
  --color-light-300: #F0F0F0;
  --color-light-500: #C4C4C4;


  --c-dark-for-shadow: #000;

  --font-family-base: 'Inter', sans-serif;

  --container-width: #{rem(1220)};
  --container-padding-x: #{rem(15)};
  --border-radius: #{rem(16)};
  --transition-duration: 0.2s;
  --marginBottom: #{rem(40)};

  //border
  --border-radius-1: #{rem(16)};
  --border-radius-2: #{rem(32)};
  --border-radius-3: #{rem(10)};

  //box-shadow
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px var(--c-dark-for-shadow);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0), inset 8px 4px 20px 12px transparent;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, .015), inset 8px 4px 20px 12px rgba(0, 0, 0, .8);
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .5);

  //gradients
  --gradient-1: linear-gradient(
    45deg,
    #9358F7 0,
    #9259F7 7%,
    #8E5DF6 13%,
    #8862F5 20%,
    #806BF4 27%,
    #7575F2 33%,
    #6882F0 40%,
    #5990EE 47%,
    #4A9FEB 53%,
    #3BADE9 60%,
    #2EBAE7 67%,
    #23C4E5 73%,
    #1BCDE4 80%,
    #15D2E3 87%,
    #11D6E2 93%,
    #10D7E2 100%
  );

  --gradient-2: linear-gradient(
    -45deg,
    #6964DE 0,
    #FCA6E9 100%,
  );
  --gradient-3: linear-gradient(
    -45deg,
    #F4426C 0,
    #FBF2B1 100%,
  );

  --gradient-4: linear-gradient(
    -45deg,
    #D24074 0,
    #6518B4 100%,
  )
}

.light-theme {
  --color-main: #ececec;
  --color-light-100: #000000;
  --color-light-300: #111111;
  --color-light-500: #111111;
  --color-dark-500: #C4C4C4;
  --color-dark-700: #C4C4C4;


  --box-shadow-3: -8px -8px 12px hsla(0, 0%, 100%, .8), 8px 8px 12px rgba(0, 0, 0, .05);
  --box-shadow-inset-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0), inset 2px 2px 4px transparent;
  --box-shadow-3-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-inset: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .35);
}
