*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-18pt-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media (hover: hover) {
  .skill-card:hover {
    box-shadow: var(--shadowAfter);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #111111;
    --color-light-100: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-main: #ececec;
    --color-light-100: #000000;
  }
}
:root {
  --color-main: #111111;
  --color-accent: #6CACE4;
  --color-dark-500: #201F1F;
  --color-dark-700: #1F1E1E;
  --color-light-100: #ffff;
  --color-light-300: #F0F0F0;
  --color-light-500: #C4C4C4;
  --c-dark-for-shadow: #000;
  --font-family-base: "Inter", sans-serif;
  --container-width: 76.25rem;
  --container-padding-x: 0.9375rem;
  --border-radius: 1rem;
  --transition-duration: 0.2s;
  --marginBottom: 2.5rem;
  --border-radius-1: 1rem;
  --border-radius-2: 2rem;
  --border-radius-3: 0.625rem;
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px var(--c-dark-for-shadow);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0), inset 8px 4px 20px 12px transparent;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, .015), inset 8px 4px 20px 12px rgba(0, 0, 0, .8);
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .5);
  --gradient-1: linear-gradient(
    45deg,
    #9358F7 0,
    #9259F7 7%,
    #8E5DF6 13%,
    #8862F5 20%,
    #806BF4 27%,
    #7575F2 33%,
    #6882F0 40%,
    #5990EE 47%,
    #4A9FEB 53%,
    #3BADE9 60%,
    #2EBAE7 67%,
    #23C4E5 73%,
    #1BCDE4 80%,
    #15D2E3 87%,
    #11D6E2 93%,
    #10D7E2 100%
  );
  --gradient-2: linear-gradient(
    -45deg,
    #6964DE 0,
    #FCA6E9 100%,
  );
  --gradient-3: linear-gradient(
    -45deg,
    #F4426C 0,
    #FBF2B1 100%,
  );
  --gradient-4: linear-gradient(
    -45deg,
    #D24074 0,
    #6518B4 100%,
  ) ;
}

.light-theme {
  --color-main: #ececec;
  --color-light-100: #000000;
  --color-light-300: #111111;
  --color-light-500: #111111;
  --color-dark-500: #C4C4C4;
  --color-dark-700: #C4C4C4;
  --box-shadow-3: -8px -8px 12px hsla(0, 0%, 100%, .8), 8px 8px 12px rgba(0, 0, 0, .05);
  --box-shadow-inset-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0), inset 2px 2px 4px transparent;
  --box-shadow-3-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-inset: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .35);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.accent-color {
  color: var(--color-accent);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.invisible {
  transform: translate(0, 7.5rem);
  opacity: 0;
  transition: all 0.5s ease;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}
html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  transition-duration: 0ms;
  font-family: var(--font-family-base);
  color: var(--color-light-100);
  background-color: var(--color-main);
}

.disable-transitions *:hover {
  transition: none !important;
}

p, span {
  font-weight: 300;
}

a:hover,
button:hover,
label:hover,
input:hover,
textarea:hover,
select:hover,
span:hover,
*:hover {
  transition-duration: var(--transition-duration);
}

a, button > svg {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover, button > svg:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (any-hover: none) {
  a:active, button > svg:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}
a[class], button > svg[class] {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light-100);
  font-weight: 300;
}

h1, .h1 {
  font-size: clamp(1.875rem, 0.5454545455rem + 5.4545454545vw, 6rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1694214876rem + 0.3305785124vw, 1.5rem);
}

h3, .h4 {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light-100);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--color-main);
}
@media (width <= 47.99875rem) {
  .header {
    padding-bottom: 0;
  }
}
.header__logo {
  font-weight: 500;
}
.header__body {
  padding-block: 2.9375rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    padding-block: 1.875rem;
  }
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.0625rem;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-dark-500);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu {
  display: flex;
  column-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .header__menu {
    column-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 2.5rem;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    column-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-size: 1.25rem;
  }
}
.header__menu-link.is-active {
  color: var(--color-light);
  font-weight: 500;
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: 0.625rem;
  pointer-events: none;
}

.section {
  --global-padding: 5rem;
  padding-block: var(--global-padding);
}
.section:first-child {
  padding-top: 11.25rem;
}
.section__title {
  transform: translate(0, 7.5rem);
  opacity: 0;
  transition: all 0.5s ease;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.section__title.active {
  transform: translate(0, 0);
  opacity: 1;
}
@media (width <= 47.99875rem) {
  .section {
    --global-padding: 7.5rem;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  color: var(--color-light-100);
}
.button--hidden {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  align-self: center;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (width <= 90.06125rem) {
  .icon::after {
    --size: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .icon::after {
    --size: 1.875rem;
  }
}
.icon--left {
  margin-left: 0.9375rem;
}
.icon--sun-light::after {
  background-image: url("../../icons/theme-sun-light.svg");
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.introduce__main {
  display: grid;
  transform: translate(0, 7.5rem);
  opacity: 0;
  transition: all 0.5s ease;
}
@media (width > 47.99875rem) {
  .introduce__main {
    grid-template-columns: 1fr auto;
    column-gap: 16.875rem;
  }
}
@media (width <= 47.99875rem) {
  .introduce__main {
    row-gap: 2.5rem;
  }
}
@media (width <= 63.99875rem) {
  .introduce__main {
    column-gap: 12.5rem;
  }
}
.introduce__main.active {
  transform: translate(0, 0);
  opacity: 1;
}
.introduce__body {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
}
@media (width <= 47.99875rem) {
  .introduce__body {
    align-items: center;
    text-align: center;
  }
}
.introduce__body-title {
  font-weight: 500;
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introduce__body-description {
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 2.5rem;
  color: var(--color-light-300);
}
@media (width <= 47.99875rem) {
  .introduce__body-description {
    max-width: 37.5rem;
  }
}
.introduce__body-link {
  font-size: clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem);
  align-self: start;
}
@media (width <= 47.99875rem) {
  .introduce__body-link {
    align-self: auto;
  }
}
@media (width <= 47.99875rem) {
  .introduce__photo-wrapper {
    display: flex;
    justify-content: center;
  }
}
.introduce__photo-image {
  border-radius: var(--border-radius-3);
}
@media (width <= 90.06125rem) {
  .introduce__photo-image {
    width: 14.375rem;
  }
}
@media (width <= 47.99875rem) {
  .introduce__photo-image {
    width: 12.5rem;
  }
}

.grid {
  --columns: 1;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}
.grid--2 {
  --columns: 2;
  column-gap: 5rem;
}
@media (width <= 47.99875rem) {
  .grid--2 {
    --columns: 1;
  }
}

.skills__item {
  transform: translate(0, 7.5rem);
  opacity: 0;
  transition: all 0.5s ease;
}
.skills__item.active {
  transform: translate(0, 0);
  opacity: 1;
}

.skill-card {
  --padding: 1.25rem;
  --shadowBefore: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);
  color: var(--color-light-500);
  box-shadow: var(--shadowBefore);
  text-align: justify;
  border-radius: var(--border-radius-1);
  font-size: 1.25rem;
  padding: var(--padding);
  padding-left: 3.75rem;
  position: relative;
}
@media (width <= 90.06125rem) {
  .skill-card {
    font-size: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .skill-card {
    font-size: 0.875rem;
  }
}
.skill-card:before {
  --size: 0.75rem;
  background-color: var(--color-accent);
  border-radius: 50%;
  content: "";
  height: var(--size);
  left: var(--padding);
  position: absolute;
  top: calc(var(--padding) + 0.35em);
  width: var(--size);
}
@media (width <= 47.99875rem) {
  .skill-card:before {
    --size: 0.625rem;
  }
}

.portfolio {
  display: grid;
  row-gap: 2.5rem;
}
.portfolio__tabs-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .portfolio__tabs-buttons {
    column-gap: 0.875rem;
  }
}
.portfolio__tabs-button {
  padding: clamp(0.375rem, 0.2944214876rem + 0.3305785124vw, 0.625rem) 0.6875rem;
  color: var(--color-gray-60);
  background-color: transparent;
  border: var(--border);
  border-radius: 0.5rem;
  font-size: 1.125rem;
}
@media (width <= 90.06125rem) {
  .portfolio__tabs-button {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .portfolio__tabs-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .portfolio__tabs-button:active {
    color: var(--color-accent);
  }
}
.portfolio__tabs-button.is-active {
  color: var(--color-light);
  font-weight: 500;
  background-color: var(--color-dark-700);
  pointer-events: none;
}
.portfolio__content:not(.is-active) {
  display: none;
}
.portfolio__content:focus-visible {
  outline-offset: -1rem;
}

.portfolio-card {
  display: grid;
  column-gap: 1.25rem;
  grid-template-areas: "image body" "image body";
  grid-template-columns: auto 1fr;
  --shadowBefore: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);
  box-shadow: var(--shadowBefore);
  border-radius: var(--border-radius-2);
  padding: 2.5rem;
}
.portfolio-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-card__header-title {
  font-weight: 500;
}
.portfolio-card__header-links {
  display: flex;
  column-gap: 0.625rem;
}
@media (width <= 63.99875rem) {
  .portfolio-card {
    grid-template-areas: "image image" "boddy body";
    row-gap: 1.25rem;
    column-gap: 0;
  }
}
.portfolio-card__image-wrapper {
  grid-area: image;
  border-radius: 0.625rem;
  overflow: hidden;
}
.portfolio-card__image {
  box-shadow: var(--box-shadow-3);
  height: auto;
  filter: opacity(0.9);
  border-radius: 0.625rem;
  object-fit: cover;
  transition-duration: var(--transition-duration);
}
.portfolio-card__image:hover {
  transform: scale(110%);
}
.portfolio-card__body {
  grid-area: body;
  display: grid;
  row-gap: 1.25rem;
}
.portfolio-card__title {
  align-self: start;
}
.portfolio-card__link {
  position: relative;
  display: inline-flex;
}
.portfolio-card__description {
  color: var(--color-light-500);
  text-align: justify;
}

.technologies__list {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.technologies__list-item {
  --size: 4rem;
  align-items: center;
  display: flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inset-2);
}
.technologies__list-item:hover {
  border: 1px solid var(--color-accent);
}
@media (width <= 30.06125rem) {
  .technologies__list-item {
    --size: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .technologies__list-image {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.link--github {
  background-color: black;
  border-radius: 50%;
}

.footer {
  padding-top: 6.4375rem;
  padding-bottom: 5.1875rem;
  border-top: 0.0625rem solid var(--color-light-500);
}
.footer__inner {
  display: flex;
  align-items: center;
  column-gap: 7.3125rem;
}
@media (width <= 90.06125rem) {
  .footer__inner {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer__list {
  display: flex;
  column-gap: 0.75rem;
}
@media (width <= 47.99875rem) {
  .footer__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.footer__list-link {
  padding: 0.8125rem 2.3125rem;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-500);
  border-radius: 0.25rem;
  background-clip: padding-box;
  border-left: 2px solid #6964DE;
  border-right: 2px solid #3020ff;
  background-image: linear-gradient(-45deg, #6964DE 0, #FCA6E9 100%), linear-gradient(-45deg, #6964DE 0, #FCA6E9 100%);
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .footer__list-link {
    padding: 0.625rem 1.5625rem;
  }
}
.footer__list-link:hover > * {
  color: var(--color-accent);
}
.footer__list-link--second {
  border-left: 2px solid #F4426C;
  border-right: 2px solid #FBF2B1;
  background-image: linear-gradient(-45deg, #F4426C 0, #FBF2B1 100%), linear-gradient(-45deg, #F4426C 0, #FBF2B1 100%);
}
.footer__list-link--third {
  border-left: 2px solid #D24074;
  border-right: 2px solid #6518B4;
  background-image: linear-gradient(-45deg, #D24074 0, #6518B4 100%), linear-gradient(-45deg, #D24074 0, #6518B4 100%);
}

/*# sourceMappingURL=main.css.map */
